/*** Responsive CSS3 Slider w/o JS by Brendan Zabarauskas http://csscience.com/responsiveslidercss3/ ***/

#slider {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    float: left;
}

label, a {
    /*color: teal;*/
    cursor: pointer;
    text-decoration: none;

    color: #000000;
}

label:hover, a:hover {
    /*color: #000 !important;*/
}

/** { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }*/

label, #active, img { -moz-user-select:none;-webkit-user-select:none; }

/* NEW EXPERIMENT */
/* Slider Setup */

input {
    /*display: none;*/
    /*geuis:
            agar tidak mengganggu style secara keseluruhan,
            style -display:none- dipindah di element terkait (inline style) look at "views/ticbox.gsp"
    */
}

#slide1:checked ~ #slides .inner { margin-left:0; }
#slide2:checked ~ #slides .inner { margin-left:-100%; }
#slide3:checked ~ #slides .inner { margin-left:-200%; }
#slide4:checked ~ #slides .inner { margin-left:-300%; }
#slide5:checked ~ #slides .inner { margin-left:-400%; }

#overflow {
    width: 100%;
    overflow: hidden;
}

article img {
    width: 100%;
}

#slides .inner {
    width: 500%;
    line-height: 0;
}

#slides article {
    width: 20%;
    float: left;
}

/* Slider Styling */

/* Control Setup */

#controls {
    margin: -25% 0 0 0.4%;
    width: 99%;
    height: 50px;
}

#controls label {
    display: none;
    width: 50px;
    height: 50px;
    opacity: 0.3;
}

#active {
    /*margin: 23% 0 0;*/
    text-align: center;
    margin: 13% auto 0;
    position: relative;
    /*background: none repeat scroll 0 0 rgba(255,255,255,0.5);*/
    background: none repeat scroll 0 0 rgba(0,0,0,0.1);
    height: 31px;
}

#active label {
    /*-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;*/
    display: inline-block;
    /*width: 10px;
    height: 10px;
    background: #bbb;*/
    margin: 3px 0 0 0;
    padding: 2px 10px 3px 10px;
}

#active label:hover {
    /*background: #ccc;
    border-color: #777 !important;*/
    background: none repeat scroll 0 0 rgba(204, 204, 204, 0.5);
    border-radius: 20px;
}

#controls label:hover {
    opacity: 0.8;
}

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(5),
#slide5:checked ~ #controls label:nth-child(1) {
    background: url('http://csscience.com/responsiveslidercss3/next.png') no-repeat;
    float: right;
    margin: 0 0 0 0;
    display: block;
}

#slide1:checked ~ #controls label:nth-child(5),
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2),
#slide4:checked ~ #controls label:nth-child(3),
#slide5:checked ~ #controls label:nth-child(4) {
    background: url('http://csscience.com/responsiveslidercss3/prev.png') no-repeat;
    float: left;
    margin: 0 0 0 0;
    display: block;
}

#slide1:checked ~ #active label:nth-child(1),
#slide2:checked ~ #active label:nth-child(2),
#slide3:checked ~ #active label:nth-child(3),
#slide4:checked ~ #active label:nth-child(4),
#slide5:checked ~ #active label:nth-child(5) {
    /*background: #333;
    border-color: #333 !important;*/
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

/* Info Box */

.info {
    line-height: 20px;
    margin: 0 0 -150%;
    position: absolute;
    font-style: italic;
    padding: 30px 30px;
    opacity: 0;
    color: #000;
    text-align: left;
}

.info h3 {
    color: #333;
    margin: 0 0 5px;
    font-weight: normal;
    font-size: 22px;
    font-style: normal;
}

/* Slider Styling */

#slides {
    margin: 0 0 0 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #666;
    padding: 1%;
    background: #fff;
    background: rgb(252,255,244); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(219,218,201,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(100%,rgba(219,218,201,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#dbdac9',GradientType=0 ); /* IE6-9 */
}

/* Animation */

#slides .inner {
    -webkit-transform: translateZ(0);
    -webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */

    -webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
}

#slider {
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

#controls label{
    -webkit-transform: translateZ(0);
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}

#slide1:checked ~ #slides article:nth-child(1) .info,
#slide2:checked ~ #slides article:nth-child(2) .info,
#slide3:checked ~ #slides article:nth-child(3) .info,
#slide4:checked ~ #slides article:nth-child(4) .info,
#slide5:checked ~ #slides article:nth-child(5) .info {
    opacity: 1;
    -webkit-transition: all 1s ease-out 0.6s;
    -moz-transition: all 1s ease-out 0.6s;
    -o-transition: all 1s ease-out 0.6s;
    transition: all 1s ease-out 0.6s;
}

.info, #controls, #slides, #active, #active label, .info h3, .desktop, .tablet, .mobile {
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

#teaser-container {
    width: 100%;
    margin: 0 0 6px 0;
    padding: 0;
    position: relative;
    float: left;
}